body {
  background-color: #061222;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  animation: animatedBackground 20s ease-in-out infinite;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(45deg, #36002c, #000000, #360f30);
  background-size: 700% 700%;
  animation: headerAnimation 5s ease-in-out infinite;
  color: #fff;

  width: 100%;
  text-align: center;
  min-height: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
  border-bottom: 7px solid #320034;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

@keyframes headerAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: #ffbd06;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-img {
  max-width: 60%;
  height: auto;
}

main {
  background-image: url("./images/fondo.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  flex-grow: 1;
}

h2 {
  color: #ffbd06;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

#generos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenido {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}

#ranking,
#video {
  flex: 0 0 35%;
}

#video {
  overflow: hidden;
  margin-top: 30px;
  width: 100%;
  
}

#video iframe {
  width: 100%;
  height: 440px;
  border-radius: 5px;
  border-top: 50px solid black;
  border-bottom: 50px solid black;
  border-left: none;
  border-right: none;
}

#ranking h2,
#video h2 {
  text-align: center;
}

.genero {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 10px;
}

.gif-header {
  width: 300px;
  height: auto;
  vertical-align: middle;
  margin-left: 10px;
}

.pelicula {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  transition: transform 0.5s;
}

.pelicula:last-child {
  margin-right: 0;
}

.pelicula img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.pelicula p {
  margin: 0;
  font-size: 16px;
  color: white;
  font-style: italic;
}

.pelicula button {
  background-color: #18acda;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;

}

.pelicula button:hover {
  background-color: #59d3f8;
}

#ranking {
  font-size: 15px;
  color: rgb(255, 255, 255);
  font-style: italic;
}

.ranking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ranking-card {
  background-color: #cf2ff7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
  width: 100%;
}
.ranking-item {
  margin-bottom: 0px;
  padding: 0px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ranking-item h3 {
  color: #ffbd06;
  margin: 0;
}

.ranking-stars {
  margin: 10px 0;
}

.ranking-stars span {
  font-size: 24px;
}

.ranking-item p {
  color: #000000;
  font-style: italic;
  margin-right: 20px; /* Espacio para los botones */
}


#main_reseña {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("./images/fondo.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;

}

.estrellas {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 20px 0;
}

.estrella {
  font-size: 50px;
}

.estrella.seleccionada {
  color: gold;
}

.estrella:hover {
  color: gold;
  cursor: pointer;
}

.comentario-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.comentario-label {
  color: white;
  font-weight: bold;
  margin-bottom: 5px; /* Espacio entre el label y el textarea */
}

textarea {
  width: 100%;
  max-width: 600px;
  height: 150px;
  border-radius: 5px;
  background-color: #a522fc;
  color: #ffffff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
}

textarea::placeholder {
  color: #cbc9c9;
  opacity: 1;
}

button#guardar-reseña {
  background-color: #008ccc;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 20px auto;
}

button#guardar-reseña:hover {
  background-color: #18acda;
}

.pelicula-imagen {
  width: 200px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}


.editar-btn {
  background-color: #18acda;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.eliminar-btn {
  background-color: #ff4c4c;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.eliminar-btn:hover {
  background-color: #ff7a7a;
}

footer {
  background-color: #000;
  color: white;
  font-style: italic;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 80%;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: calc(200px * 5);
}

.pelicula {
  min-width: 200px;
  margin-right: 10px;
  text-align: center;
}

.pelicula:hover {
  transform: rotateY(15deg);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border: none;
  z-index: 100;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.about-container {
  text-align: center;
  padding: 20px;
}

.about-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
  border-radius: 8px;
}

.titulo-about{ 
  font-size: 2rem;
  margin-bottom: 3%;
}

.titulo-contacto{ 
  font-size: 2rem;
  margin-bottom: 3%;
}

.texto-about {
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.6;
}

/* Estilo para cada reseña */
.reseña-item {
  background-color: #a522fc;
  border: 1px solid #141414;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para los botones */
.button-eliminar {
  background-color: #ff4d4d; /* Rojo */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  margin-left: 5px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.3s;
}

.button-eliminar:hover {
  background-color: #ff1a1a; /* Rojo más oscuro */
}

.button-editar {
  background-color: #4da6ff; /* Celeste */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-editar:hover {
  background-color: #1a8cff; /* Celeste más oscuro */
}

.comment {
  color: white;
}


/* Estilo para el contenedor principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size:cover;
  background-position: center;
  background-image: url("./images/fondo.jpg");
  background-repeat: no-repeat;
  padding: 75px;
}

/* Estilo para el rectángulo donde estará el contenido */
.login-box {
  background-color: #131313b2; /* Fondo blanco del rectángulo */
  padding: 50px;
  border-radius: 20px; /* Bordes redondeados */
  width: 30%; /* Ancho del rectángulo */
  max-width: 600px; /* Ancho máximo */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para el rectángulo */
  text-align: center;
}

/* Estilo de la imagen */
.header-img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Estilo para el botón de inicio de sesión */
.login-btn {
  background-color: #c41bd3;
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px; /* Espaciado entre el icono y el texto */
}


/* Estilo para el texto de bienvenida */
.login-box p {
  font-size: 16px;
  margin-bottom: 20px;
}


.login-container h2 {
  margin-bottom: 20px;
  color: #ffffff;
}

/* Estilo para el botón */
.login-container button {
  background-color: #c41bd3;
  color: white;
  border: none;
  padding: 15px 63px; /* Ajuste del espacio alrededor */
  border-radius: 5px;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-weight: bold;
  background-image: url('./images/google.png'); /* Icono */
  background-size: 25px 25px; /* Tamaño del icono */
  background-repeat: no-repeat;
  background-position: 18px center; /* Icono alineado verticalmente */
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinea el contenido hacia la izquierda */
  padding-left: 21%; /* Mueve ligeramente el contenido hacia la derecha */
  gap: 15px; /* Espacio entre el icono y el texto */
}


.login-container button:hover {
  background-color: #ff7e06;
}

.logout-button {
  background-color: #c41bd3;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #ff7e06;
}

.login-container p {
  font-size: 1.1rem; /* Tamaño de letra */
  color: #ffffff; /* Color blanco */
  font-family: 'Cursive', sans-serif; /* Fuente informal */
  text-align: center; /* Centra el texto */
  line-height: 1.5; /* Espaciado entre líneas */
  margin: 20px 10px; /* Márgenes para separar del resto */
  max-width: 600px; /* Ancho máximo */
  word-wrap: break-word; /* Ajusta el texto dentro del ancho */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombreado del texto */
  font-weight: bold; /* Hace el texto en negrita */
}

.boton-agregar {
  background-color: #34b46a; /* Azul */
  color: #fff; /* Texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Espacio arriba del botón */
}

.boton-agregar:hover {
  background-color: #2cec7c;
}

/* Fondo oscuro del modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Contenido del modal */
.modal-content {
  background: #c41bd3;
  padding: 20px;
  border: 5px solid #7a166a; /* Marco violeta oscuro */
  border-radius: 8px;
  width: 350px;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Área de comentario personalizada */
.modal-textarea {
  width: 100%;
  height: 100px; /* Caja de comentario más grande */
  background: #4b0082; /* Violeta oscuro */
  color: #fff; /* Letras blancas */
  border: 1px solid #4b0082; /* Borde violeta oscuro */
  border-radius: 5px;
  padding: 8px;
  font-size: 14px;
  resize: none; /* Evitar que se redimensione */
  margin-top: 10px;
}

.textarea-comentario {
  width: 70%; /* Ajusta aquí: puede ser 300px, 50%, etc. */
  background-color: #4b0082;
  color: white;
  border: 2px solid #7a166a;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  resize: none;
  margin: 0 auto; /* Centra el textarea si tiene menos ancho */
}

/* Botones del modal */
.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-cancel,
.button-confirm {
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
}

/* Estilo para el botón Cancelar */
.button-cancel {
  background: #ca0808; /* Rojo */
  color: #fff; /* Letras blancas */
}

.button-cancel:hover {
  background: #ff0019; /* Rojo más oscuro */
}

/* Estilo para el botón Guardar */
.button-confirm {
  background: #28a745; /* Verde */
  color: #fff; /* Letras blancas */
}

.button-confirm:hover {
  background: #1bc23f; /* Verde más oscuro */
}

/* Estilos para las estrellas */
#estrellas {
  margin-bottom: 20px; /* Separación entre las estrellas y el comentario */
}

.estrella {
  font-size: 30px; /* Aumentar el tamaño de las estrellas */
  margin-right: 5px; /* Espacio entre las estrellas */
  cursor: pointer;
}

/* Estilos para el texto del modal */
.modal h2 {
  font-size: 24px; /* Tamaño grande para el texto del modal */
  color: yellow; /* Color amarillo para "Editar reseña" */
  margin-bottom: 15px; /* Espacio debajo del título */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  header {
    height: 100px;
  }

  header h1 {
    font-size: 20px;
    line-height: 100px;
  }

  .contenido {
    flex-direction: column;
    gap: 20px;
  }

  #ranking,
  #video {
    width: 100%;
  }
}
